* {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
/* generics */

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.btn {
  border: none;
  border-radius: 9999px;
  background-color: #6415ff;
  font-size: 18px;
  font-weight: 500;
  padding: 12px 18px;
  margin-top: 18px;
  color: white;
  cursor: pointer;
}

li,
a {
  list-style-type: none;
  text-decoration: none;
}

h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}

.purple {
  color: #6415ff;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 28px 40px;
}

img {
  max-width: 640px;
}

.header--small {
  margin: 32px 0;
  font-size: 20px;
  font-weight: 300;
  color: #6415ff;
}

.section__description {
  padding: 48px 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__description--para {
  font-size: 18px;
  color: #7c8ba1;
  line-height: 1.25;
  margin: 32px 0;
}

.testimonial--icon {
  font-size: 22px;
  color: rgba(199, 196, 12, 0.89);
  padding-bottom: 24px;
}
button {
  cursor: pointer;
}
/* 

NAVIGATION BAR

*/


.logo,
.nav__logo {
  max-width: 20%;
}

.logo__wrapper,
.nav__login--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__text {
  font-size: 24px;
  font-weight: 900;
  color: #243e63;
  margin-left: 10px;
  letter-spacing: 0.1rem;
}

.nav__link--login {
  margin-left: 48px;
}

.nav__links {
  display: flex;
  align-items: center;
  padding: 0 0 4px;
}

.nav__link {
  font-size: 16px;
  font-weight: 700;
  padding: 16px;
  transition: all 300ms ease;
}

.nav__link--effects {
  color: #243e63;
  margin: 12px 0;
}

.nav__link .nav__link--effects:hover {
  color: rgb(32, 12, 211);
  text-decoration: underline;
}
.nav__signup {
  border: none;
  border-radius: 9999px;
  background-color: #6415ff;
  padding: 8px 16px;
  transition: all 300ms ease;
  cursor: pointer;
}

.nav__signup:hover {
  background-color: #7350b8;
}

.nav__anchor--primary {
  color: rgb(248, 247, 247);
}

.btn__menu {
  background-color: transparent;
  font-size: 40px;
  text-align: center;
  border: none;
  color: #7342d6;
  display: none;
}
.menu__backdrop {
  position: absolute;
  background-color: #242424;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
  visibility: hidden;
  opacity: 0;
}
.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
}
.menu--open {
  max-height: 100vh;
  overflow-y: hidden;
}
.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu__list {
  padding: 32px 0;
}
.menu__link {
  font-size: 32px;
}
.btn__menu--close {
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
  color: white;
}
.menu__link:hover {
  color: rgba(151, 151, 151, 0.616);
}
/* 

HEADER

*/

#header {
  padding: 96px 0;
}
.header__img {
  max-width: 600px;
}
.section__column--left {
  max-width: 500px;
}
.header__img--wrapper {
  max-width: 600px;
}

.section__dustomers--wrapper {
  margin: 80px 0 0;
  opacity: 0.6;
}

.section__description--customers {
  font-size: 14px;
  font-weight: 700;
  color: #a0aec0;
}

.customers__img {
  margin: 16px 0 0;
  width: 80%;
}

.header__input--wrapper {
  margin: 12px 0;
  position: relative;
  display: flex;
  border: none;
  border-radius: 9999px;
}
.submit {
  width: 30%;
  position: absolute;
  top: 24px;
  right: 20px;
  padding: 12px 8px;
  border: none;
  border-radius: 999px;
  background-color: #6415ff;
  color: white;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.submit:hover {
  background-color: #7350b8;
}

#em {
  width: 100%;
  font-size: 22px;
  border-radius: 999px;
  border: 1px solid;
  margin: 12px 0;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-right: 12rem;
  text-align: start;
  opacity: 0.6;
  transition: all 300ms ease;
}

#em:hover {
  opacity: 0.8;
}
form {
  width: 100%;
}
form input {
  padding: 24px;
}

/*

FEATURES

*/

#features {
  padding: 88px 0;
}

.icons {
  width: 100%;
  max-width: 40px;
}

.services__content--container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0;
  max-width: 860px;
}

.services__heading {
  font-size: 16px;
}

.services__heading--2 {
  font-size: 48px;
  color: #243e63;
  font-weight: 900;
}

.section__description--para-top {
  font-size: 18px;
  color: #7c8ba1;
  margin: 16px 0 0;
  display: flex;
  text-align: center;
  line-height: 1.25;
}
.services__cloumn--container span {
  text-align: left;
}

.services__column--wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.services__column--side-img {
  width: 30%;
  height: 150px;
  margin-bottom: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text__container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 200px;
  margin-top: 25px;
}

.services__column--para {
  font-size: 16px;
  color: #7c8ba1;
  font-weight: 500;
}

.title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #243e63;
  position: relative;
}

.title__big {
  padding: 0 55px 12px 0;
}

.title__short {
  padding: 0 140px 12px 0;
}

.img__container {
  position: relative;
  display: flex;
  margin-left: 10px;
  padding-bottom: 60px;
  padding-right: 20px;
}

/*


QUALITIY WORK


*/

#qualitiyWork {
  padding: 96px 0;
}

.qw__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.qw__heading {
  font-size: 48px;
  color: #243e63;
  margin-bottom: 22px;
  margin-top: 24px;
}

.qw__description--para {
  font-size: 18px;
  color: #7c8ba1;
  margin: 14px 0 0;
  letter-spacing: 0.03rem;
}
.qw__text--left {
  padding-left: 10px;
}

.qw__btn:hover {
  background-color: #7350b8;
}

.qw__img {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

/*

Steps 

*/

#steps {
  padding: 96px 0;
}
.steps__img {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.steps__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.steps__heading--small {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 14px;
}

.steps__heading--big {
  font-size: 48px;
  margin-bottom: 32px;
  color: #243e63;
  line-height: 1.05;
}

.number {
  font-size: 40px;
  color: #7c8ba1;
  padding-right: 16px;
}

.list__item--df {
  display: flex;
  justify-content: center;
}

.steps__content {
  font-size: 16px;
  text-align: start;
  line-height: 1.08;
  margin: 12px;
}

.list__input {
  color: #7c8ba1;
}

h6 {
  font-size: 24px;
  margin-bottom: 8px;
  color: #243e63;
}

/*

VALUES

*/

#values {
  padding: 96px 0;
}
.values__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.values__para {
  color: #7c8ba1;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.25;
  margin: 32px 0 0;
}

.values__para--clm {
  font-size: 18px;
  margin: 16px 0;
  margin-bottom: 10px;
  line-height: 1.25;
  font-weight: 400;
  color: #7c8ba1;
  max-width: 250px;
}
.values__df--info {
  margin: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.values__clm--header {
  font-size: 24px;
  display: flex;
  padding: 12px 0;
  gap: 20px;
}

.values__clm--header h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #243e63;
}

.values__icon {
  border: none;
  border-radius: 7777px;
  padding: 8px;
  background: rgb(204, 81, 81);
  color: rgb(116, 24, 24);
}

.feather {
  z-index: 1;
}

.values__svg--wrapper {
  width: 36px;
  height: 36px;
  background-color: #9ae6b4;
  padding: 8px;
  border-radius: 9999px;
  display: flex;
  align-items: center;
}

.value__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 160px;
  transition: all 300ms ease;
}

.value__btn:hover {
  background-color: #7350b8;
}

.values__img--right {
  width: 100%;
}

.svg__red {
  background-color: rgba(255, 0, 0, 0.575);
}

/* 

PRICING

*/

#pricing {
  padding: 96px 0;
}

.pricing__container {
  margin: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing__header {
  margin: 32px 0;
  text-align: center;
  width: 100%;
  max-width: 800px;
  line-height: 2;
}

.pricing__header p {
  margin: 16px 0 0;
  font-size: 18px;
  color: #7c8ba1;
}

.cards {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.shadow-1,
.shadow3 {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.cards__wrapper {
  display: flex;
  gap: 1.5rem;
}
.top {
  display: flex;
  flex-direction: column;
}

.pack {
  font-size: 24px;
  font-weight: 500;
  margin: 16px 0 0;
  text-align: center;
}

.price {
  font-size: 48px;
  font-weight: 700;
  margin: 16px 0 0;
  text-align: center;
}

.monthly {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #a0aec0;
  margin: 22px 26px;
}

.top__heading {
  font-size: 28px;
  font-weight: 500;
  margin: 12px;
  margin-top: 24px;
  margin-bottom: 38px;
}

.mid-bar {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 36px;
}

.shadow-1 {
  background-color: rgb(255, 255, 255);
  border-top: 10px solid rgb(56, 178, 172);
  border-radius: 10px;
}

.price__btn--personal {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.price__button {
  margin-bottom: 10px;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 999px;
  cursor: pointer;
  color: rgb(214, 211, 211);
  opacity: 0.65;
  transition: all 200ms ease;
}

.price__btn--all {
  padding: 0.75rem 2rem;
}

.price__button:hover {
  color: black;
  opacity: 1;
  transform: scale(1.04);
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.479);
}

.shadow2 {
  background-image: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
  border-radius: 10px;
}

.price__btn--business {
  background-color: #fff;
  color: #6415ff;
}

.shadow3 {
  background-color: rgb(255, 255, 255);
  border-top: 10px solid rgba(238, 90, 85, 0.8);
  border-radius: 10px;
}

.price__btn--enterprise {
  background: linear-gradient(115deg, #f56565 0%, rgb(254, 178, 178) 100%);
}

.Business {
  color: white;
}

/*

TESTIMONIALS

*/

#testimonials {
  padding: 96px 0;
}
.testimonials__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials__heading {
  line-height: 2;
}

.testimonials__para {
  line-height: 1.5;
}

.testimonials__para--exp {
  margin-top: 24px;
  font-size: 18px;
  line-height: 1.5;
  color: #7c8ba1;
}

.tesimonials__img {
  width: 100%;
  max-width: 800px;
}

.testimonials__content--right {
  margin: 32px;
  max-width: 550px;
  width: 100%;
}

.subheading {
  font-size: 24px;
  margin: 16px 0;
}

.woman__img--container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.woman {
  position: absolute;
  top: 0;
  right: 30rem;
  width: 8%;
  border-radius: 50%;
}

.woman__info {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 1.5rem;
  right: 18rem;
  margin: 0 24px;
  color: #7c8ba1;
}

.woman__info h5 {
  font-size: 22px;
  color: black;
}

.tesimonials__btn {
  padding: 0 24px;
  position: relative;
  top: 2rem;
  background-color: transparent;
  font-size: 20px;
  border: none;
  cursor: not-allowed;
}

.tesimonials__btn--next {
  opacity: 0.5;
}

.tesimonials__btn--next:hover {
  opacity: 1;
}

/*

FAQ'S

*/

#faqs {
  padding: 96px 0;
}

.faq__container--top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown__arrow--down {
  display: flex;
  justify-content: center;
  align-items: center;
}

.faq__para {
  width: 100%;
  max-width: 600px;
  text-align: center;
  line-height: 1.25;
}

.dropdown__group {
  margin: 0 auto;
  max-width: 800px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(237 242 247);
}

.dropdown__group {
  margin-bottom: 10px;
}
.dropdown__group:hover {
  background: linear-gradient(
    to bottom right,
    rgba(39, 38, 38, 0.082),
    rgba(78, 78, 197, 0.185)
  );
}

.dropdown__header {
  margin: 32px 0 16px 0;
  font-size: 20px;
  font-weight: 600;
}

.dropdown__area {
  display: flex;
  justify-content: space-between;
}

.dropdown__arrow--down {
  cursor: not-allowed;
}

/*

GET STARTED 

*/

#getStarted {
  margin: 0 154px;
  padding: 96px 0;
}

.getstarted__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  padding: 80px 48px;
  background: linear-gradient(
    to bottom right,
    rgba(110, 75, 192, 0.877),
    rgba(37, 37, 226, 0.87)
  );
}
.getstarted__header {
  font-size: 32px;
  color: white;
}

.getstarted__links {
  padding: 0 64px;
  font-size: 24px;
}

.getstarted__link {
  margin: 48px;
  border: 1px solid;
  border-radius: 999px;
  padding: 16px 32px;
  color: white;
}

.link__orange {
  background-color: rgba(240, 22, 7, 0.747);
  border: none;
}

.getstarted__link:hover {
  background-color: white;
  color: black;
}

/*

FOOTER 

*/
#footer {
  height: calc(100vh - 400px);
  background-color: rgb(100, 21, 255);
}
.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: rgba(243, 237, 237, 0.726);
}
.footer__list--container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.footer__list {
  margin: 94px 0;
}
.footer__list--header {
  margin: 32px 0;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 40px;
}
.footer__link--wrapper {
  margin: 16px 0;
  line-height: 2.3;
}

.footer__link {
  color: rgba(243, 237, 237, 0.726);
  font-size: 16px;
  font-weight: 300;
}
.footer__line {
  position: relative;
  border: 1px solid black;
  padding: 0 41%;
  top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
}
.footer__logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__logo {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons__container {
  padding: 16px;
}

.footer__icon {
  font-size: 24px;
  padding: 16px;
  color: white;
}
.footer__icon:hover {
  transform: scale(1.5);
  filter: drop-shadow(1px 4px 1px rgba(48, 47, 47, 0.904));
}
.footer__end {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  img {
    max-width: 352px;
  }

  nav {
    height: 68px;
  }
  .nav__links {
    font-size: 12px;
    display: none;
  }

  #header,
  #features,
  #qualitiyWork,
  #steps,
  #values,
  #pricing,
  #testimonials,
  #faqs,
  #getStarted,
  #footer {
    margin: 0 96px;
    padding: 96px 0;
  }
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 30px;
  }

  .section__description {
    flex-direction: column;
    padding: 0;
  }

  #em {
    padding: 12px 28px;
    font-size: 16px;
    opacity: 1;
  }
  .submit {
    width: 32%;
    font-size: 16px;
    margin: -6px -12px;
    padding: 8px 0;
  }
  .header__img--wrapper .header__img {
    height: auto;
  }

  .section__dustomers--wrapper {
    margin: 12px 0;
    text-align: center;
  }
  .customers__img {
    max-width: 400px;
  }

  .title {
    font-size: 24px;
  }
  .services__top {
    text-align: center;
  }
  .services__column--para {
    font-size: 14px;
    margin: 0;
  }
  .services__column--side-img {
    width: 100%;
  }
  .text__container {
    margin: 0;
  }
  .quality__content--container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .qw__text--left {
    margin-top: 10px;
  }
  .steps__heading--big {
    font-size: 36px;
  }
  .steps__container {
    margin: 0;
    padding: 32px 0;
  }
  .list__container {
    margin-top: 16px;
  }

  .list__container--steps {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .list__input {
    font-size: 12px;
    line-height: 1rem;
  }

  .values__container {
    flex-direction: column-reverse;
    margin: 32px 32px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .values__df--info {
    flex-direction: column;
  }
  .values__clm--left,
  .values__clm--right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px 0;
  }
  .value__btn {
    margin: 0 auto;
  }
  .cards {
    width: 100%;
    margin-bottom: 24px;
  }
  .cards__wrapper {
    flex-direction: column;
  }

  .testimonials__container {
    flex-direction: column;
  }

  .getstarted__container {
    width: calc(100vw - 220px);
    flex-direction: column;
  }
  .getstarted__header {
    font-size: 30px;
  }

  .getstarted__links {
    width: 100%;
    font-size: 16px;
    margin-top: 12px;
    margin-left: 10px;
    display: flex;
    justify-content: space-evenly;
  }
  .getstarted__link {
    margin: 0;
  }

  #footer {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  .btn__menu {
    display: block;
  }
}
@media screen and (max-width: 540px) {
  .btn__menu {
    display: block;
    font-size: 24px;
  }
  .btn__menu--close {
    color: black;
    font-size: 24px;
  }
  .menu__backdrop {
    position: absolute;
    top: 1.8rem;
    left: 0;
    right: 0;
    bottom: 65%;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
  }
  .menu__list {
    padding: 8px 0;
  }
  .menu__link {
    color: black;
    font-size: 16px;
  }
  img {
    width: 100%;
  }
  #nav,
  #header,
  #features,
  #qualitiyWork,
  #steps,
  #values,
  #pricing,
  #testimonials,
  #faqs,
  #getStarted,
  #footer {
    margin: 0;
  }
  #nav {
    margin-left: 10px;
  }
  .section__column--left{
    text-align: center;
  }
  .qw__wrapper {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .qw__text--left {
    margin-top: 24px;
  }
  .steps__img{
    padding-bottom: 24px;
  }
  .steps__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .number{
    margin-top: 12px;
    margin-bottom: 24px;
  }
  .list__item--df {
    display: block;
    
  }
  .list__input{
    font-size: 16px;
    
  }
  .steps__content {
    text-align: center;
    
  }
  .values__text--left {
    margin-top: 24px;
  }
  .values__text--left h2 {
    margin-top: 24px;
  }
  .testimonials__content--right {
    text-align: center;
  }
  .faq__dropdown,
  .faq__container--top {
    margin: 0 24px;
  }
  .getstarted__container{
    width: 100%;
  }
  .footer__end{
    flex-direction: column;
  }
 .footer__list--container{
  text-align: center;
 }
}

@media screen and (max-width: 440px){
  .woman{
    position: absolute;
    top: 1.1rem;
    left: 0.876rem;
    width: calc(100% - 360px);
  }
  .woman__info{
    position: relative;
    top: 2.5rem;
    left: 0;
  }
  .woman__info h5{
    font-size: 16px;
    
  }
  .testimonials__btn--wrapper{
    display: flex;
  }

}

@media screen and (max-width: 360px) {
  .btn__menu {
    display: block;
    font-size: 24px;
  }
  .btn__menu--close {
    color: black;
    font-size: 24px;
  }
  .menu__backdrop {
    position: absolute;
    top: 1.8rem;
    left: 0;
    right: 0;
    bottom: 65%;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
  }
  .menu__list {
    padding: 8px 0;
  }
  .menu__link {
    color: black;
    font-size: 16px;
  }
  h1 {
    font-size: 30px;
  }
  img {
    width: 100%;
  }

  nav {
    display: flex;
    flex: 1 1 0%;
    margin-left: 1.8rem;
  }
  .nav__links {
    display: none;
  }
  .nav__logo {
    width: 100%;
    max-width: 2.5rem;
  }
  #header,
  #features,
  #qualitiyWork,
  #steps,
  #values,
  #pricing,
  #testimonials,
  #faqs,
  #getStarted,
  #footer {
    margin: 0;
    padding: 32px 16px;
  }
  .section__description {
    padding: 0;
    display: block;
    text-align: center;
  }
  .header__input--wrapper {
    flex-direction: column;
    align-items: center;
  }
  #em {
    text-align: center;
    margin: 0;
  }
  .submit {
    position: relative;
    width: 100%;
    margin-top: 1rem;
    top: 0;
    right: 0;
    padding: 12px 0;
  }
  .section__dustomers--wrapper {
    margin-top: 2.3rem;
  }

  .services__heading--2 {
    font-size: 2.25rem;
    letter-spacing: 0.025rem;
  }
  .section__description--para-top {
    margin-top: 1rem;
    max-width: 36rem;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.625;
  }
  .steps__heading--big {
    font-size: 2.5rem;
  }
  .header--small {
    font-size: 24px;
  }
  .list__item--df {
    flex-direction: column;
  }
  .steps__container {
    flex-direction: column;
  }
  .steps__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .list__input {
    text-align: center;
    line-height: 2rem;
  }
  .pricing__container {
    margin: 0;
  }
  .pricing__header {
    line-height: 1;
  }
  .pricing__header p {
    font-size: 14px;
    line-height: 1.14;
  }
  .pricing__header h2 {
    font-size: 2.25rem;
    line-height: 1.25;
    letter-spacing: 0.8;
  }
  .shadow2 {
    color: white;
  }
  .top__heading {
    font-size: 24px;
    font-weight: 700;
  }
  .mid-bar {
    font-size: 16px;
    margin-bottom: 24px;
  }
  .price__button {
    margin-top: 0;
  }
  .testimonials__content--right {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .woman__img--container {
    display: flex;
    flex-direction: column;
  }
  .woman {
    position: relative;
    right: 0;
    width: 20%;
  }
  .woman__info {
    position: absolute;
    left: 0;
    right: 0;
    top: 5rem;
  }
  .testimonials__btn--wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    top: 2.89rem;
    margin-bottom: 32px;
  }
  #faqs {
    margin-top: 40px;
  }
  .dropdown__area {
    margin: 0 32px;
  }
  .dropdown__header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }
  .qw__heading {
    font-size: 30px;
  }
  .qw__wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
  .qw__text--left {
    margin-top: 10px;
  }
  .getstarted__container {
    width: 100%;
  }
  .getstarted__header {
    text-align: center;
    font-size: 24px;
  }
  .getstarted__links {
    flex-direction: column;
    padding: 0.75rem 1.5rem;
    text-align: center;
  }
  .link__orange {
    margin-bottom: 10px;
  }
  .footer__list--container {
    flex-wrap: wrap;
    text-align: center;
  }
  .footer__list--header {
    font-size: 1.45rem;
  }
  .footer__list {
    padding: 12px;
    margin: 32px 0;
  }
  .footer__end {
    flex-direction: column;
  }
}
